body {
	display: flex;
	width: max-content;
	height: max-content;
	margin: auto;
	align-items: center;
}
main {
	display: flex;
	background-color: #070724;
	
	color: white;
	flex-direction: column;
	align-items: center;
	font-family: "League Spartan", sans-serif;
	font-weight: weight;
	font-style: normal;
}
.ttop{
    display: grid;
  
}
.thing{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.top{
    display: grid;
    justify-content: center;
    flex-direction: column;
}
.text{
    justify-content: center;
}