
	min {
		display: grid;
		grid-template-areas: 
		"tt"
		"t"
		"d"
		"dd";
		width: 100px;
	}

body {
	display: flex;
	width: max-content;
	height: max-content;
	margin: auto;
	align-items: center;
}
main {
	display: flex;
	background-color: #070724;
	width: 375px;
	height: 837px;
	color: white;
	flex-direction: column;
	align-items: center;
	font-family: "League Spartan", sans-serif;
	font-weight: weight;
	font-style: normal;
}

ttp {
	display: flex;
	color: white;
	width: 327px;
	height: 36vh;
	grid-area: tt;
}
.theplanets {
	display: flex;
	margin-right: 125px;
	font-optical-sizing: 28px;
}
.fixed {
	display: flex;
	align-items: center;
	gap: 75px;
	font-optical-sizing: 9px;
}
top {
	display: flex;
	margin-top: 5px;
	grid-area: t;
}
.mars {
	display: flex;
}
down {
	display: flex;
	width: fit-content;
	align-items: center;
	flex-direction: column;
	margin-top: 5vh;
	grid-area: d;
}
.saturn {
	display: flex;
	align-items: center;
	font-size: 40px;
	justify-content: center;
}

h3 {
	display: flex;
	width: 327px;
	height: 110px;
	font-optical-sizing: 11px;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0px;
	margin-top: 0px;
}
.Source {
	display: flex;
	height: 25px;
	opacity: 50%;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
ddown {
	display: flex;
	flex-direction: column;
	width: 327px;
	height: 206vh;
	align-items: center;
	grid-area: dd;
}
.box1 {
	display: flex;
	align-items: center;
	gap: 25px;
	grid-area: ddone;
}
.ddd {
	display: flex;
	width: 150px;
	height: 88px;
	align-items: center;
	border: solid 1px white;
	margin-top: 10px;
}
.box2 {
	display: flex;
	align-items: center;
	margin-top: 5px;
	gap: 25px;
	grid-area: ddtwo;
}
@media screen and (width > 375px) {
	main {
		display: grid;
		grid-template-areas:
			"tt"
			"t"
			"d"
			"ddone, ddtwo"
			;
	}
}